# Dependencies
node_modules/
package-lock.json
yarn.lock

# Build output
dist/
build/
out/

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# Editor/IDE specific
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
.idea/
*.sublime-project
*.sublime-workspace

# OS specific
.DS_Store
Thumbs.db
desktop.ini

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
debug.log

# Cache
.cache/
.parcel-cache/
.eslintcache
.stylelintcache

# Coverage reports
coverage/

# Misc
*.log
.tmp/
tmp/
*.bak